@font-face {
  font-family: 'Lato';
  src: url('../Fontes/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../Fontes/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../Fontes/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url('../Fontes/Lato-Thin.ttf');
}

@font-face {
  font-family: 'Abel-Regular';
  src: url('../Fontes/Abel/Abel-Regular.ttf');
}

*{
  font-family: Lato;
}

html, body{
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

html {
  height: 1000px;
  width: 1000px;
  margin: 0;
  background-color: beige;
  cursor: grab;
  font-family: Lato-Light;
}

body {
  margin: 0;
  position: relative;
}

.float {
  position: fixed;
  top: 86%;
  right: -240px;
  width: 350px;
  height: 850px;
  color: transparent;
  text-align: center;
  /* line-height: 50px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  opacity: 0.8;
}

.float:hover{
  right: -40px;
}

.float2 {
  position: fixed;
  text-align: center;
  z-index: 1;
  top: 6%;
  left: 2%;
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(0.8); opacity: 0.5; }
  50% { -webkit-transform: scale(0.7); opacity: 0.8; }
  100% { -webkit-transform: scale(0.8); opacity: 0.5; }
}

@keyframes pulse {
  0% { transform: scale(0.8); opacity: 0.5; }
  50% { transform: scale(0.7); opacity: 0.8; }
  100% { transform: scale(0.8); opacity: 0.5; }
}

.float2 img{
  width: 85px;
  height: 85px;
  -webkit-animation: pulse 3s infinite ease-in-out;
  -o-animation: pulse 3s infinite ease-in-out;
  -ms-animation: pulse 3s infinite ease-in-out; 
  -moz-animation: pulse 3s infinite ease-in-out; 
  animation: pulse 3s infinite ease-in-out;
}

.float button {
  background-color: rgb(0,0,0 , 0.6);
  color: rgb(224, 179, 88);
  border: none;
  opacity: 0.3;
  margin-left: 5%;
}

.float button:hover {
  opacity: 1;
}

.my-float{
	margin-top:22px;
}

button {
  background-color:transparent;
  padding: 6px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #E0B358;
  color: #E0B358;
  font-family: Lato;
  font-size: 20px;
  cursor: pointer;
}

button:active{
  background-color: #E0B358;
  color: #000;
}

button:hover{
  background-color: #E0B358;
  color: #000;
}

.parent img {
  width: 2200px;
  height: 1600px;
  background-image: url(../img/Mapa/Mapa_Indicativo.jpg);
  background-size: 100% 100%;
}

.parent {
  position: relative;
}

html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}


.esp-modal {
  position: absolute;
  top: -2000%;
}

.dot {
  background-color: #fff;
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  border-radius: 20px;
  top: 20.2%;
  left: 131%;
  z-index: 1;
  cursor: pointer;
}

.dot2 {
  background-color: #fff;
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  border-radius: 20px;
  top: 19.2%;
  left: 120%;
  z-index: 1;
  cursor: pointer;
}

.dot3 {
  background-color: #fff;
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  border-radius: 20px;
  top: 19.6%;
  left: 125.5%;
  z-index: 1;
  cursor: pointer;
}

.dot4 {
  background-color: #fff;
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  border-radius: 20px;
  top: 20%;
  left: 92%;
  z-index: 1;
  cursor: pointer;
}

.dot5 {
  background-color: #fff;
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  border-radius: 20px;
  top: 20%;
  left: 92%;
  z-index: 1;
  cursor: pointer;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 30px;
  padding: 50px 10px 10px 10px;
}

.grid-container button{
  width: 230px;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    transform: scale(1.3, 1.3);
    opacity: 0.0;
  }
}

.pulse {
  position: absolute;
  min-height: 30px;
  min-width: 30px;
  border-radius: 20px;
  top: 19.4%;
  left: 130.0%;
  opacity: 0;
  border: 5px solid #fff;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}

.pulse2 {
  position: absolute;
  min-height: 30px;
  min-width: 30px;
  border-radius: 20px;
  top: 18.4%;
  left: 119%;
  opacity: 0;
  border: 5px solid #fff;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}

.pulse3 {
  position: absolute;
  min-height: 30px;
  min-width: 30px;
  border-radius: 20px;
  top: 18.8%;
  left: 124.5%;
  opacity: 0;
  border: 5px solid #fff;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}

.pulse4 {
  position: absolute;
  min-height: 30px;
  min-width: 30px;
  border-radius: 20px;
  top: 19.2%;
  left: 91%;
  opacity: 0;
  border: 5px solid #fff;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
}

.botao_voltar button{
  padding: 10px 20px 10px 20px;
  margin-top: 3%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* Modal Content */

.modal-content {
    margin: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content h1{
  display: inline-block;
  font-size: 40px;
  letter-spacing: 1px;
  justify-content: center;
  width: 100%;
  color: #E0B358;
  font-family: 'Abel-Regular';
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.modal-content h2{
  font-size: 18px ;
}

.parent button {
  border: none;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.project-page-main {
  margin-left: 70px;
}


.current-image {
  width: 630px;
  height: 300px;
  border-radius: 60px;
}

.next-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  bottom: 10px;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all .5s;
}

.next-list li {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 150px;
  /* min-width: 100px; */
  height: 100px;
  margin: 0 5px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all .5s;
}

.next-list li:first-of-type {
  padding-left: 15px;
}


.image-of-list {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: all .5s;
  border-radius: 20px;
}

.current-image-list {
  opacity: 1;
  transition: all .5s;
  border-radius: 0px;
  scale: 1.1;
}

.arrow {
  display: flex;
  width: 50px;
  height: 100px;
  bottom: 10px;
  flex: 1;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}


.arrow-left {
  left: 10px;
  color: red;
}

.arrow-right {
  right: 10px;
  color: red;
}

/*
 * Animations
 */

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slideInFromLeft {
  animation: slideInFromLeft .5s ease-in-out;
}

.slideInFromRight {
  animation: slideInFromRight .5s ease-in-out;
}

.fadeIn {
  animation: fadeIn .5s ease-in-out;
}

.parent-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    gap:25px;
}

.mc-2{
  background-image: url(../img/Moldura/Moldura_Nova_02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

.splide__slide img {
  width: 100%;
  height: auto;
}

.texto-min-map{
  background-image: url(../img/Moldura/Fund_til.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5% 0% 0% 0%;
  width: 350px;
  height: 120px;
}

.child-2 {

  width: 350px;
}

.child-2 button{
  margin: 6% 2% 2% 2%;
}

.child-2 h2{
  font-family: 'Abel-Regular';
  font-weight: 100;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 15px;
  letter-spacing: 1px;
}

.child-2 h3{
  background-color: #762C30;
  border-radius: 5px;
  font-family: 'Abel-Regular';
  font-weight: 400;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: -5% 17% 8% 17%;
  color: #fff;
  padding: 3px;
}

.child-2, h1, h2, h3 {
  margin: 0;
}

.child-3 {
  display: inline-block;
  vertical-align: middle;
  width: 79%;
}

.imagem_mapa_min {
  width: 250px;
  height: 300px;
  border-radius: 30px;
}

.botao-gal-v-e-tela-inicial button{
  padding: 10px 20px 10px 20px;
}

.botao-especial{
  background-color: #E0B358;
  color: #000;
}

.img-icon-2{
  filter: invert(1);
  /* or to blue */
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(6deg);
}

.grid-container-but:hover .img-icon-2{
  filter: invert(1);
  /* or to blue */
  filter: invert(0) sepia(1) saturate(5) hue-rotate(360deg);
}

.mc-3 h1{

  font-family: 'Abel-Regular';
  color: #fff;
  background-color: #762C30;
  text-transform: none;
  width: 300px;
  border-radius: 11px;
  display: inline-block;
  font-weight: 100;
  padding: 5px;
  font-size: 30px;
  margin: 0;

}

.mc-3 h2{
  font-family: 'Abel-Regular';
  color: #fff;
  text-transform: none;
  display: inline-block;
  font-weight: 100;
  font-size: 20px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}


.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}


swiper-container {
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 70%;
  width: 100%;
  border-radius: 35px;
}

.mySwiper1 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper2 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper3 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper4 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper5 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper6 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper7 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper8 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper9 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper10 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper11 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper12 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper13 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper14 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper15 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper16 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper17 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper18 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper19 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper20 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper21 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper22 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper23 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper24 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper25 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper26 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper27 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper28 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper29 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper30 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper31 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper32 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper33 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper34 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper35 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper36 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper37 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper38 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper39 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper40 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper41 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper42 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper43 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper44 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper45 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper46 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper47 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper48 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper49 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper50 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper51 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper52 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper53 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper54 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper55 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper56 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper57 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper58 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper59 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper60 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper61 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper62 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper63 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper64 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper65 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper66 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper67 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper68 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper69 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper70 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper71 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper72 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper73 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper74 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper75 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper76 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper77 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper78 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper79 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper80 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper81 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper82 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper83 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper84 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper85 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper86 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper87 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper88 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper89 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper90 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper91 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper92 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper93 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper94 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper95 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper96 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper97 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper98 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper99 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper100 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper101 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper102 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper103 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper104 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper105 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper106 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper107 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper108 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper109 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}
.mySwiper110 {
  height: 25%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 15px;
}

.mySwiper1 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper2 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper3 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;  
}

.mySwiper4 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper5 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper6 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper7 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper8 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper9 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper10 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper11 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper12 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper13 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper14 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper15 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper16 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper17 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper18 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper19 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper20 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper21 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper22 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper23 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper24 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper25 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper26 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper27 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper28 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper29 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper30 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper31 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper32 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper33 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper34 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper35 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper36 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper37 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper38 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper39 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}

.mySwiper40 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper41 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper42 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper43 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper44 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper45 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper46 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper47 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper48 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper49 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper50 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper51 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper52 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper53 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper54 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper55 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper56 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper57 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper58 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper59 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper60 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper61 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper62 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper63 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper64 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper65 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper66 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper67 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper68 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper69 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper70 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper71 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper72 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper73 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper74 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper75 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper76 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper77 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper78 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper79 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper80 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper81 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper82 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper83 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper84 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper85 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper86 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper87 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper88 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper89 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper90 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper91 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper92 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper93 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper94 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper95 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper96 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper97 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper98 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper99 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper100 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper101 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper102 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper103 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper104 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper105 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper106 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper107 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper108 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper109 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}
.mySwiper110 swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 1;
}


.mySwiper1 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper2 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper3 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
  
}

.mySwiper4 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper5 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper6 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper7 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper8 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper9 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper10 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper11 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper12 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper13 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper14 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper15 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper16 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper17 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper18 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper19 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper20 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper21 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper22 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper23 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper24 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper25 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper26 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper27 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper28 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper29 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper30 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper31 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper32 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper33 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper34 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper35 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper36 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper37 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper38 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper39 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

.mySwiper40 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper41 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper42 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper43 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper44 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper45 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper46 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper47 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper48 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper49 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper50 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper51 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper52 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper53 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper54 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper55 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper56 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper57 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper58 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper59 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper60 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper61 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper62 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper63 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper64 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper65 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper66 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper67 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper68 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper69 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper70 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper71 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper72 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper73 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper74 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper75 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper76 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper77 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper78 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper79 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper80 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper81 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper82 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper83 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper84 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper85 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper86 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper87 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper88 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper89 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper90 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper91 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper92 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper93 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper94 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper95 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper96 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper97 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper98 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper99 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper100 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper101 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper102 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper103 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper104 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper105 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper106 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper107 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper108 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper109 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}
.mySwiper110 .swiper-slide-thumb-active {
  filter: opacity(0.4) drop-shadow(0 0 0 #E0B358);
}

swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

.swiper-container-cont-manual {
  width: 50%;
  height: 82vh;
}


.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 132%;
  top: 21%;

}

.circle {
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
}

.circle-outer {
  width: 30px;
  height: 30px;
  animation: blink-outer 4s infinite ease-in-out;
  border-color: #fff;
  border-width: 2px;
}

.circle-middle {
  width: 20px;
  height: 20px;
  animation: blink-middle 3s infinite ease-in-out;
  animation-delay: 2s;
  border-color: #fff;
  border-width: 2px;
}

.circle-inner {
  width: 12px;
  height: 12px;
  animation: blink-inner 4s infinite ease-in-out;
  animation-delay: 2s;
  border-width: 2px;
  border-color: #fff;
  background-color: #fff;
}

@keyframes blink-outer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink-middle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-inner {
  0% {
    border-color: #fff;
    background-color: rgb(255,255,255 , 1);
  }
  50% {
    border-color: #fff;
    background-color: rgb(255,255,255 , 0);
  }
  100% {
    border-color: #fff;
    background-color: rgb(255,255,255 , 1)
  }
}

